<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL_LINQ.Properties.Settings.DKLCTConnectionString"
            connectionString="Data Source=LAPTOP-SO6P7M3T\MINHTHU;Initial Catalog=DKLCT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>